// photos from flickr with creative commons license

var cy = cytoscape({
  container: document.getElementById('cy'),

  boxSelectionEnabled: false,
  autounselectify: true,

  style: cytoscape.stylesheet()
    .selector('node')
      .css({
        'shape': 'rectangle',
        'height': '100px',
        'width': '100px',
        'background-fit': 'cover',
        'border-color': '#000',
        'border-width': 3,
        'border-opacity': 0.5,
        'font-size' : '15px',
        'text-valign': 'bottom',
        'text-margin-y': '10px',
        'text-background-color': '#fff',
        'text-background-opacity': 1,
        'text-background-shape': 'roundrectangle',
        'text-background-padding': '5px',
        'background-image': 'data(background_image)',
        'content': 'data(content)'
      })
    .selector('edge')
      .css({
        'curve-style': 'bezier',
        'width': 6,
        'target-arrow-shape': 'triangle',
        'line-color': '#ffaaaa',
        'target-arrow-color': '#ffaaaa'
      }),
  elements: {
    nodes: [ %1 ],
    edges: [ %2 ]
  },
  layout: {
    name: 'breadthfirst',
    directed: true,
    padding: 10
  }
}); // cy init

